* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}
.points {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.point {
    width: 2px;
    height: 2px;
    border-radius: 2.5px;
    background-color: #ff5100;
}
.tittle {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tittle h2 {
    margin: 0;
    color: #fff;
}
.line {
    width: 50px;
    height: 1.5px;
    background-color: rgb(255, 81, 0);
    margin-bottom: 20px;
}
header {
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: #202020;
}
nav {
   height: 90px;
   width: 100%;
   display:flex;
   justify-content: center;
   align-items: center;
}
nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #999;
    text-transform: uppercase;
}
nav a:hover {
    color: #ff5100;
}
.header-area {
    display: flex;
    height: calc(100vh - 90px);
    width: 100%;
    justify-content: space-evenly;
}
.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.header-left h1 {
  margin-bottom: 5px;
  color: #999;
}

.header-left h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #999;
}
.header-left button {
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0;
}
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.header-right img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.bg-orange {
    background-color:rgb(255, 81, 0);
    color: #fff;
    border: none;
    margin-bottom: 5px;
}
button:hover {
    background-color: #000;
    border: 1px solid #000;
}
.bg-none {
    background-color: #202020;
    color: #fff;
    border: solid 1px #fff;
}

.skill-main {
    background-color: #202020;
}
.skill-item-area {
    display: none;
}
.skill-area {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px 0px;
    position: relative;
}
.skill-item-frente {
    width: 300px;
    height: 90px;
    margin: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 2px 5px #000;
    overflow: hidden;
    background-color:rgba(255, 81, 0);
    border-radius: 5px;
    position: relative;
}
.skill-item-frente p {
    color: #000;
    margin: 0;
}
.skill-item-verso {
    width: 300px;
    height: 90px;
    border-radius: 5px;
    background-color: #000;
    box-shadow: 1px 2px 5px #000;
    position:absolute;
    display: none;
}

.skill-item-verso ul li {
    float: left;
    list-style:none;
    margin: 10px;
}
.mini-logo {
    width: 20%; 
}
.mini-arrow {
    width: 7%;
}

.portfolio-main {
    background-color: #202020;
}
.portfolio-area {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 1px 2px 5px #000;
}
.portfolio-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;

}
.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    background-color: #202020;
}
.footer-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.footer-area span {
    color: #fff;
}
.social {
    display: flex;
    width: 100%;
    justify-content: center;
}
.start {
    justify-content: start;
}
.social a img {
    width: 20px;
    height: 20px;
    margin: 10px;
}

@media(max-width:900px)  {
    .header-area {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}